.vscode

__pycache__/*
outputs/*
log/*
logs/*
data/*
datasets/*
pred/*
*.pt
*.pdf
*.zip
*.pth
*.png
*.pth
*.pdf
*.png 
*.log
*.pyc
*.svg
*tmp*.py
archive/test-00.tar.xz
archive/train-00.tar.xz
archive/train-01.tar.xz
*.ipynb_checkpoints*
deepfindr_tutorial/
CiteSeer/
pytorch-geometric-tutorial/
.xdp_0000-0002-semantic_id_1_1.svg.4J1NV1
